In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
caminho_dos_arquivos = 'C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\vendas\\'

In [3]:
arquivos = []

In [4]:
for arquivo in os.listdir(caminho_dos_arquivos):
    arquivos.append(caminho_dos_arquivos + arquivo)
arquivos

['C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\vendas\\Vendas 2017.xlsx',
 'C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\vendas\\Vendas 2018.xlsx',
 'C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\vendas\\Vendas 2019.xlsx',
 'C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\vendas\\Vendas 2020.xlsx',
 'C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\vendas\\Vendas 2021.xlsx',
 'C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\vendas\\Vendas 2022.xlsx']

In [5]:
vendas = pd.DataFrame()

In [6]:
for arquivo in arquivos:
    df = pd.read_excel(arquivo, sheet_name='Vendas')
    vendas = pd.concat([df, vendas])

In [7]:
vendas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 302840 entries, 0 to 91593
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DataEmissao     302840 non-null  datetime64[ns]
 1   DataVencimento  302840 non-null  datetime64[ns]
 2   NFe             302840 non-null  int64
 3   cdCliente       302840 non-null  int64
 4   cdVendedor      302840 non-null  int64
 5   cdProduto       302840 non-null  int64
 6   QtdItens        302840 non-null  int64
 7   ValorUnitario   302840 non-null  float64
 8   Peso Líquido    302840 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(5)
memory usage: 23.1 MB

In [8]:
vendas.head()

,DataEmissao,DataVencimento,NFe,cdCliente,cdVendedor,cdProduto,QtdItens,ValorUnitario,Peso Líquido
0,2022-01-01,2022-02-01,2123073,3785072,285,1154,6,3.25,0.30
1,2022-01-01,2022-02-08,2149604,3799504,326,1154,6,3.25,0.30
2,2022-01-01,2022-02-09,2173654,2957188,326,1154,6,3.20,0.30
3,2022-01-01,2022-01-21,2113210,3854414,326,1154,6,3.33,0.30
4,2022-01-01,2022-01-28,2156463,2950203,102,1154,6,2.62,1.38

In [9]:
caminho = 'C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\'
arquivo = 'Dimensões.xlsx'

cliente = pd.read_excel(caminho + arquivo, sheet_name='Cliente')
produto = pd.read_excel(caminho + arquivo, sheet_name='Produto')
grupo_produto = pd.read_excel(caminho + arquivo, sheet_name='GrupoProduto')
vendedor = pd.read_excel(caminho + arquivo, sheet_name='Vendedor')
data = pd.read_excel(caminho + arquivo, sheet_name='Data')

In [10]:
cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1411 entries, 0 to 1410
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cdCliente     1411 non-null   int64
 1   Razão Social  1411 non-null   object
 2   Status        1411 non-null   object
 3   Categoria     1411 non-null   object
 4   Cidade        1411 non-null   object
 5   UF            1411 non-null   object
dtypes: int64(1), object(5)
memory usage: 66.3+ KB

In [11]:
produto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2736 entries, 0 to 2735
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   cdProduto  2736 non-null   int64
 1   Descrição  2736 non-null   object
 2   cdGrupo    2736 non-null   int64
dtypes: int64(2), object(1)
memory usage: 64.2+ KB

In [12]:
grupo_produto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cdGrupo  36 non-null     int64
 1   Grupo    36 non-null     object
 2   Linha    36 non-null     object
dtypes: int64(1), object(2)
memory usage: 992.0+ bytes

In [13]:
vendedor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cdVendedor    12 non-null     int64
 1   Vendedor      12 non-null     object
 2   cdSupervisor  12 non-null     int64
 3   Supervisor    12 non-null     object
 4   cdGerente     12 non-null     int64
 5   Gerente       12 non-null     object
 6   Equipe        12 non-null     object
dtypes: int64(3), object(4)
memory usage: 800.0+ bytes

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191 entries, 0 to 2190
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    2191 non-null   datetime64[ns]
 1   Ano     2191 non-null   int64
 2   Mes     2191 non-null   object
 3   MesNum  2191 non-null   int64
 4   Dia     2191 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 85.7+ KB

In [15]:
caminho = 'C:\\Users\\FIC\\Documents\\Rafael-Dias-Python\\desafio-super-atacadista\\'
arquivo = 'Metas.xlsx'
meta = pd.read_excel(caminho + arquivo, sheet_name='Metas')

In [16]:
meta.head()

,Unnamed: 0,Metas por Vendedor,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73
0,NaN,Última Atualização: 31/12/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,cdVendedor,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,...,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00
4,NaN,102,140768.312981,124258.753484,169509.931262,143465.231352,98423.627768,133401.861987,109124.992168,221597.228027,...,98801,72820,62828,23732,59726,72648,90886,33627,22575,147200

In [17]:
meta = meta.iloc[3:,1:]

In [18]:
meta.head()

,Metas por Vendedor,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73
3,cdVendedor,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,...,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00
4,102,140768.312981,124258.753484,169509.931262,143465.231352,98423.627768,133401.861987,109124.992168,221597.228027,101603.974771,...,98801,72820,62828,23732,59726,72648,90886,33627,22575,147200
5,125,21525.584613,50778.518843,80286.310022,117769.05503,162043.205771,184889.338359,175629.570395,120097.495562,110607.719934,...,102588,111966,73820,63180,91574,147501,27211,35545,24405,95060
6,144,72301.437981,47360.51627,54145.357333,89457.661634,115437.266528,72356.845601,164689.100713,102330.724424,112396.578585,...,34363,84436,107508,122783,63397,91962,96559,86822,93434,21425
7,194,0,0,0,0,0,0,0,0,0,...,143281,145669,107315,121999,87128,51302,73211,49920,99219,82882

In [29]:
meta_lista = meta.head(1)

In [30]:
meta_lista

,Metas por Vendedor,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73
3,cdVendedor,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,...,2022-03-01 00:00:00,2022-04-01 00:00:00,2022-05-01 00:00:00,2022-06-01 00:00:00,2022-07-01 00:00:00,2022-08-01 00:00:00,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00

In [31]:
meta_lista = meta_lista.astype(object)

In [32]:
lista = meta_lista.values.tolist()

In [33]:
lista

[['cdVendedor',
  datetime.datetime(2017, 1, 1, 0, 0),
  datetime.datetime(2017, 2, 1, 0, 0),
  datetime.datetime(2017, 3, 1, 0, 0),
  datetime.datetime(2017, 4, 1, 0, 0),
  datetime.datetime(2017, 5, 1, 0, 0),
  datetime.datetime(2017, 6, 1, 0, 0),
  datetime.datetime(2017, 7, 1, 0, 0),
  datetime.datetime(2017, 8, 1, 0, 0),
  datetime.datetime(2017, 9, 1, 0, 0),
  datetime.datetime(2017, 10, 1, 0, 0),
  datetime.datetime(2017, 11, 1, 0, 0),
  datetime.datetime(2017, 12, 1, 0, 0),
  datetime.datetime(2018, 1, 1, 0, 0),
  datetime.datetime(2018, 2, 1, 0, 0),
  datetime.datetime(2018, 3, 1, 0, 0),
  datetime.datetime(2018, 4, 1, 0, 0),
  datetime.datetime(2018, 5, 1, 0, 0),
  datetime.datetime(2018, 6, 1, 0, 0),
  datetime.datetime(2018, 7, 1, 0, 0),
  datetime.datetime(2018, 8, 1, 0, 0),
  datetime.datetime(2018, 9, 1, 0, 0),
  datetime.datetime(2018, 10, 1, 0, 0),
  datetime.datetime(2018, 11, 1, 0, 0),
  datetime.datetime(2018, 12, 1, 0, 0),
  datetime.datetime(2019, 1, 1, 0, 0),
  datetime.datetime(2019, 2, 1, 0, 0),
  datetime.datetime(2019, 3, 1, 0, 0),
  datetime.datetime(2019, 4, 1, 0, 0),
  datetime.datetime(2019, 5, 1, 0, 0),
  datetime.datetime(2019, 6, 1, 0, 0),
  datetime.datetime(2019, 7, 1, 0, 0),
  datetime.datetime(2019, 8, 1, 0, 0),
  datetime.datetime(2019, 9, 1, 0, 0),
  datetime.datetime(2019, 10, 1, 0, 0),
  datetime.datetime(2019, 11, 1, 0, 0),
  datetime.datetime(2019, 12, 1, 0, 0),
  datetime.datetime(2020, 1, 1, 0, 0),
  datetime.datetime(2020, 2, 1, 0, 0),
  datetime.datetime(2020, 3, 1, 0, 0),
  datetime.datetime(2020, 4, 1, 0, 0),
  datetime.datetime(2020, 5, 1, 0, 0),
  datetime.datetime(2020, 6, 1, 0, 0),
  datetime.datetime(2020, 7, 1, 0, 0),
  datetime.datetime(2020, 8, 1, 0, 0),
  datetime.datetime(2020, 9, 1, 0, 0),
  datetime.datetime(2020, 10, 1, 0, 0),
  datetime.datetime(2020, 11, 1, 0, 0),
  datetime.datetime(2020, 12, 1, 0, 0),
  datetime.datetime(2021, 1, 1, 0, 0),
  datetime.datetime(2021, 2, 1, 0, 0),
  datetime.datetime(2021, 3, 1, 0, 0),
  datetime.datetime(2021, 4, 1, 0, 0),
  datetime.datetime(2021, 5, 1, 0, 0),
  datetime.datetime(2021, 6, 1, 0, 0),
  datetime.datetime(2021, 7, 1, 0, 0),
  datetime.datetime(2021, 8, 1, 0, 0),
  datetime.datetime(2021, 9, 1, 0, 0),
  datetime.datetime(2021, 10, 1, 0, 0),
  datetime.datetime(2021, 11, 1, 0, 0),
  datetime.datetime(2021, 12, 1, 0, 0),
  datetime.datetime(2022, 1, 1, 0, 0),
  datetime.datetime(2022, 2, 1, 0, 0),
  datetime.datetime(2022, 3, 1, 0, 0),
  datetime.datetime(2022, 4, 1, 0, 0),
  datetime.datetime(2022, 5, 1, 0, 0),
  datetime.datetime(2022, 6, 1, 0, 0),
  datetime.datetime(2022, 7, 1, 0, 0),
  datetime.datetime(2022, 8, 1, 0, 0),
  datetime.datetime(2022, 9, 1, 0, 0),
  datetime.datetime(2022, 10, 1, 0, 0),
  datetime.datetime(2022, 11, 1, 0, 0),
  datetime.datetime(2022, 12, 1, 0, 0)]]

In [35]:
type(lista)

list

In [37]:
meta.columns = [lista]

TypeError: unhashable type: 'list'

In [ ]:
meta.head()

In [ ]:
meta = meta.iloc[1:,:]

In [ ]:
meta = meta.transpose()

In [ ]:
meta.head()

In [ ]:
meta = meta.rename_axis('Index').reset_index()

In [ ]:
meta.head()

In [ ]:
meta_lista = meta.head(1)

In [ ]:
meta_lista

In [ ]:
meta_lista = meta_lista.astype(object)

In [ ]:
meta_lista.info()

In [ ]:
lista_2 = meta_lista.values.tolist()

In [ ]:
lista_2

In [ ]:
meta.columns = [lista_2]